body {
  background: rebeccapurple !important;
}

div.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div.bodyform {
  background: #ffffff;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.form-group textarea {
  display: flex;
  margin-bottom: 5px;
}

div.contact-info {
  position: absolute;
  top: 78%;
  left: 50%;
  display: flex;
  width: calc(30% + 60px);
  font-size: 13px;
  background: #9773fe;
  color: #fff;
  border-radius: 3px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  align-items: center;
  justify-content: center;
}

div.contact-info .info {
  display: flex;
  align-items: center;
  padding: 20px;
}

div.contact-info .info span{

    font-size: 16px;
    font-weight: 600;
}

div.containerButton{
    display: flex;
    justify-content: center;
}